[submodule "assets/vendor/bootstrap"]
	path = assets/vendor/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "assets/vendor/Font-Awesome-More"]
	path = assets/vendor/Font-Awesome-More
	url = git://github.com/gregoryloucas/Font-Awesome-More.git
[submodule "assets/vendor/jszip"]
	path = assets/vendor/jszip
	url = git://github.com/Stuk/jszip.git
[submodule "assets/vendor/prism"]
	path = assets/vendor/prism
	url = git://github.com/LeaVerou/prism.git
[submodule "assets/vendor/angular-ui"]
	path = assets/vendor/angular-ui
	url = git://github.com/angular-ui/angular-ui.git
[submodule "assets/vendor/select2"]
	path = assets/vendor/select2
	url = git://github.com/ivaynberg/select2.git
[submodule "assets/vendor/showdown"]
	path = assets/vendor/showdown
	url = git://github.com/coreyti/showdown.git
